<div class="row">
    <div class = "col-xs-12 col-sm-2 col-md-2 col-lg-2">
        <img src="../../../assets/IMG_20190919_125312561.jpg" 
        class="img-fluid" id="fotoPerfil">
    
    </div>
    <div class = "col-xs-12 col-sm-2 col-md-2 col-lg-2">
        <p id="nombre">{{persona.nombre}} {{persona.apellido}}</p>
        <p> Full Stack Developer Jr </p>
    </div>
    <div class = "col-xs-12 col-sm-8 col-md-8 col-lg-8">
        <span>
            <h1> Acerca de mi </h1>
            <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Deleniti distinctio, iusto modi tempore a voluptatum deserunt ab possimus? Porro ipsum ipsam distinctio reprehenderit minus eos modi, eveniet natus earum ex.</p>
        </span>
    </div>

</div>



