.row{
    padding: 20px;
}
div{
    background-color: rgb(78, 208, 232);
    text-align: center;

}
/*Estilo de la foto de perfil*/
@media (min-width: 575px){
    
    #fotoPerfil{
        position: absolute;
        width: 15%;
        border-radius: 100%;
        box-shadow: 3px 3px 3px aquamarine;
        left: 3%;
        top: 600px;
    }
}

/*Estiqueta nombre*/
#nombre {
    
    font-weight: bold;
    margin: top 30%;
    margin-left: 10px;
}