<div class="row">
    <h1>Experiencia Académica</h1>
    <div class="col-lg-1"></div>
    <div class="col-lg-11">
        <ul>
            <li>
                <h1>Formación</h1> - <h3>(years)</h3>
            </li>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Odit, similique quisquam quos ducimus maxime necessitatibus hic cum eius consequatur numquam culpa perspiciatis voluptatum laborum modi porro consequuntur voluptas quae fuga?</p>
        </ul>
        
        <ul>
            <li>
                <h1>Formación</h1> - <h3>(years)</h3>
            </li>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Odit, similique quisquam quos ducimus maxime necessitatibus hic cum eius consequatur numquam culpa perspiciatis voluptatum laborum modi porro consequuntur voluptas quae fuga?</p>
        </ul>

        <ul>
            <li>
                <h1>Formación</h1> - <h3>(years)</h3>
            </li>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Odit, similique quisquam quos ducimus maxime necessitatibus hic cum eius consequatur numquam culpa perspiciatis voluptatum laborum modi porro consequuntur voluptas quae fuga?</p>
        </ul>

        <ul>
            <li>
                <h1>Formación</h1> - <h3>(years)</h3>
            </li>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Odit, similique quisquam quos ducimus maxime necessitatibus hic cum eius consequatur numquam culpa perspiciatis voluptatum laborum modi porro consequuntur voluptas quae fuga?</p>
        </ul>

    </div>

</div>
